// Cart toggle sidebar
.admin-bar {
    .cartSidebarWrap {
        top: 32px;
    }
}

.cartSidebarWrap {
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    z-index: 9999;
    box-shadow: -1px 0 4px 0 rgba(0,0,0,.1);
    @include transform(translateX(100%));
    @include transition(all .6s cubic-bezier(0.77, 0, 0.175, 1));

    .cart_wrap_content {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #000;
        overflow: auto;
    }

    .cart-sidebar-header {
        border-bottom: 1px solid #3d3d3d;
        padding: 0 20px;

        .cart-sidebar-title {
            text-transform: uppercase;
            font-weight: 600;
            line-height: 55px;
            font-size: 15px;
            color: #aaa;
        }

        .close-cart {
            @include transition(all 600ms);
            margin-right: 15px;

            i {
                font-size: 18px;
                line-height: 18px;
                margin-top: 20px;
                display: inline-block;
                &:before{
                    line-height: 0;
                    color: #aaa;
                    font-size: 30px;
                    display: inline-block;
                }
                &:before:hover{
                    @extend .color-primary;
                }
            }
        }
    }

    .widget_shopping_cart_content {
        padding: 30px 20px 50px;
        height: calc(100% - 56px);
    }

    .cart-bottom-box {
        padding-bottom: 50px;
        .total {
            font-weight: 500;
            font-size: 17px;
            display: block;
            padding: 25px 0;
            border-top: 1px solid #3d3d3d;
            margin: 0;
            font-size: 16px;
        }
    }
}

.has-toggle-cart-sidebar {
    #sidebar-open-overlay {
        opacity: 1;
        visibility: visible;
    }

    .cartSidebarWrap {
        @include transform(translateX(0));
    }
}

.header-cart {
    &.toggle-sidebar {
        .dropdown-menu {
            display: none;
        }
    }

    &.btn-group.open {
        .dropdown-toggle {
            box-shadow: none;
        }
    }
}
