{
  "name": "koganic",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "style.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"style.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "woocommerce/compare.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"woocommerce/compare.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "rtl.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"rtl.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets/sass/woocommerce/product-box",
      "woocommerce/content-box",
      "assets/sass",
      "assets",
      "assets/fonts",
      "languages"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/style.scss",
      "imports": [
        "assets/sass/variables/_variables.scss",
        "assets/sass/mixins/_mixins.scss",
        "assets/sass/base/_base.scss",
        "assets/sass/wordpress/_default.scss",
        "assets/sass/wordpress/_typography.scss",
        "assets/sass/header/_header.scss",
        "assets/sass/menu/_menu.scss",
        "assets/sass/footer/_footer.scss",
        "assets/sass/home/_home.scss",
        "assets/sass/home/_home1.scss",
        "assets/sass/home/_home2.scss",
        "assets/sass/home/_home3.scss",
        "assets/sass/home/_home4.scss",
        "assets/sass/home/_home5.scss",
        "assets/sass/home/_home6.scss",
        "assets/sass/home/_home7.scss",
        "assets/sass/home/_home8.scss",
        "assets/sass/home/_home9.scss",
        "assets/sass/home/_home10.scss",
        "assets/sass/home/_home11.scss",
        "assets/sass/home/_home12.scss",
        "assets/sass/home/_home13.scss",
        "assets/sass/home/_home15.scss",
        "assets/sass/home/_home18.scss",
        "assets/sass/home/_landing.scss",
        "assets/sass/page/_page.scss",
        "assets/sass/post/_post.scss",
        "assets/sass/widget/_widget.scss",
        "assets/sass/woocommerce/_woocommerce.scss",
        "assets/sass/elements/elements.scss",
        "assets/sass/loading/_loading.scss",
        "assets/sass/animation/_animation.scss",
        "assets/sass/responsive/_responsive.scss",
        "assets/sass/wordpress/_responsive.scss",
        "assets/sass/wordpress/_light_mode.scss",
        "assets/sass/wordpress/_dark_mode.scss",
        "assets/sass/elementor/_base.scss",
        "assets/sass/elementor/_slider.scss",
        "assets/sass/skins/_food.scss",
        "assets/sass/skins/_sushi.scss",
        "assets/sass/skins/_dishes2.scss",
        "assets/sass/skins/_cakes.scss",
        "assets/sass/skins/_organic.scss",
        "assets/sass/skins/_foodmarket.scss",
        "assets/sass/skins/_foodmarket2.scss",
        "assets/sass/elementor/_responsive.scss",
        "assets/sass/base/_list.scss",
        "assets/sass/base/_link.scss",
        "assets/sass/base/_heading.scss",
        "assets/sass/base/_table.scss",
        "assets/sass/base/_form.scss",
        "assets/sass/base/_button.scss",
        "assets/sass/base/_clearing.scss",
        "assets/sass/base/_helper.scss",
        "assets/sass/base/_global.scss",
        "assets/sass/base/_layout.scss",
        "assets/sass/base/_layout_vc.scss",
        "assets/sass/base/_image-effect.scss",
        "assets/sass/base/_custome.scss",
        "assets/sass/base/_custome-device.scss",
        "assets/sass/header/_topbar.scss",
        "assets/sass/header/_header-sticky.scss",
        "assets/sass/menu/_primary-menu.scss",
        "assets/sass/menu/_mobile-menu.scss",
        "assets/sass/menu/_vertical-menu.scss",
        "assets/sass/menu/_category-menu.scss",
        "assets/sass/menu/_popup-menu.scss",
        "assets/sass/page/_404.scss",
        "assets/sass/page/_maintenance.scss",
        "assets/sass/page/_contact.scss",
        "assets/sass/page/_search.scss",
        "assets/sass/page/_page-heading.scss",
        "assets/sass/post/_post-single.scss",
        "assets/sass/post/_post-pagination.scss",
        "assets/sass/post/_post-comment.scss",
        "assets/sass/post/_post-navigation.scss",
        "assets/sass/woocommerce/_tooltip.scss",
        "assets/sass/woocommerce/_message.scss",
        "assets/sass/woocommerce/_rating.scss",
        "assets/sass/woocommerce/_shop-action.scss",
        "assets/sass/woocommerce/_shop-filter.scss",
        "assets/sass/woocommerce/_quickview.scss",
        "assets/sass/woocommerce/_shipping-popup.scss",
        "assets/sass/woocommerce/_onsale.scss",
        "assets/sass/woocommerce/product-box/_product-box.scss",
        "assets/sass/woocommerce/product-box/_product-box1.scss",
        "assets/sass/woocommerce/product-box/_product-box2.scss",
        "assets/sass/woocommerce/product-box/_product-box3.scss",
        "assets/sass/woocommerce/product-box/_product-box4.scss",
        "assets/sass/woocommerce/product-box/_product-box5.scss",
        "assets/sass/woocommerce/product-box/_product-box6.scss",
        "assets/sass/woocommerce/product-box/_effect-thum.scss",
        "assets/sass/woocommerce/product-box/_product-box-widget.scss",
        "assets/sass/woocommerce/product-box/_product-box-list.scss",
        "assets/sass/woocommerce/product-box/_product-box-list-widget.scss",
        "assets/sass/woocommerce/_product-cat.scss",
        "assets/sass/woocommerce/_shop-layout.scss",
        "assets/sass/woocommerce/_pagination.scss",
        "assets/sass/woocommerce/_single-product.scss",
        "assets/sass/woocommerce/_tabs.scss",
        "assets/sass/woocommerce/_other-products.scss",
        "assets/sass/woocommerce/_page-wishlist.scss",
        "assets/sass/woocommerce/_page-compare.scss",
        "assets/sass/woocommerce/_page-my-account.scss",
        "assets/sass/woocommerce/_page-cart.scss",
        "assets/sass/woocommerce/_page-checkout.scss",
        "assets/sass/woocommerce/_page-dokan.scss",
        "assets/sass/woocommerce/_cart-style.scss",
        "assets/sass/woocommerce/_variation.scss",
        "assets/sass/elements/_banner.scss",
        "assets/sass/elements/_button.scss",
        "assets/sass/elements/_promobar.scss",
        "assets/sass/elements/_portfolio.scss",
        "assets/sass/elements/_instagram.scss",
        "assets/sass/elements/_service.scss",
        "assets/sass/elements/_brand.scss",
        "assets/sass/elements/_image.scss",
        "assets/sass/elements/_products.scss",
        "assets/sass/elements/_testimonial.scss",
        "assets/sass/elements/_team-member.scss",
        "assets/sass/elements/_social-icons.scss",
        "assets/sass/elements/_megamenu-widget.scss",
        "assets/sass/elements/_google-maps.scss",
        "assets/sass/elements/_information-box.scss",
        "assets/sass/elements/_gallery.scss",
        "assets/sass/elements/_countdown-timer.scss",
        "assets/sass/elements/_pricing-tables.scss",
        "assets/sass/elements/_section-divider.scss",
        "assets/sass/elements/_product-tabs.scss",
        "assets/sass/elements/_newletter.scss",
        "assets/sass/elements/_vc-custom.scss",
        "assets/sass/elements/_slider.scss",
        "assets/sass/responsive/_medium.scss",
        "assets/sass/responsive/_tablet.scss",
        "assets/sass/responsive/_mobile.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "sass",
      "scss",
      "css"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7911,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://192.168.1.231/wp/jms_koganic"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}