.portfolio-container {
    margin-top: -8px;
    margin-bottom: 100px;

    &.fullwidth {
        width: 100%;
        margin: 60px auto;
        margin-top: -8px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .koganic-pagination {
        margin-top: 30px;
    }
}

.portfolio-filter {
    > a {
        position: relative;
        margin: 0 10px;
        border: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800;
             

        &.selected {
            @extend .color-primary;
        }
    }
}

.portfolio-thumbnail {
    a:not(.enlarge) {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            @include transition(all 400ms);
        }
    }

    img {
        width: 100%;
        @include transition(all 400ms);
    }

    .enlarge {
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        width: 35px;
        height: 35px;
        text-align: center;
        opacity: 0;
        z-index: 9;

        i {
            line-height: 35px;
        }
    }
}

.portfolio-category {
    overflow: hidden;
    @include transition(all 650ms);
    line-height: 1.6;

    .pt-btn-zoom {
        margin-top: 34px;
        a {
            svg {
                width: 24px;
                height: 24px;
            }

            &:hover {
                @extend .color-primary;
            }
        }
    }
}


.portfolio-title {
    font-size: 18px;
    margin: 0;
    line-height: 30px;
    overflow: hidden;
    font-weight: 500;
    @include transition(all 650ms);

    a {
        &:hover {
            @extend .color-primary;
        }        
    }
}

.portfolio-item {
    &:hover {
        .portfolio-thumbnail {
            img {
                @include transform(scale(1.08));
            }

            a {
                &:after {
                    opacity: 1;
                }
            }

            .enlarge {
                opacity: 1;
            }
        }
    }
}


// Portfolio default
.portfolio-default {
    .portfolio-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 30px;
        justify-content: center;
        text-align: center;
    }

    .portfolio-category {
        color: white;
        opacity: 0;
        @include transform(translateY(10px));

        a {
            color: white;
        }
    }


    .portfolio-title {
        opacity: 0;
        @include transform(translateY(-10px));

        a {
            color: white;
            font-weight: 800;
            font-size: 18px;
        }
    }

    &:hover {
        .portfolio-thumbnail {
            img {
                @include transform(scale(1.08));
            }

            a {
                &:after {
                    opacity: 1;
                }
            }
        }

        .portfolio-category {
            opacity: 1;
            @include transform(translateY(0));
        }

        .portfolio-title {
            opacity: 1;
            @include transform(translateY(0));
        }
    }


}

// Portfolio default
.portfolio-hover-inverse {
    overflow: hidden;

    .portfolio-content {
        text-align: center;
        padding: 10px 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0;
        visibility: hidden;
        @include transform(translateY(100%));
        @include transition(transform 400ms);
    }

    .portfolio-category {
        color: white;

        a {
            color: white;
        }
    }

    .portfolio-title {
        a {
            color: white;
        }
    }

    &:hover {
        .portfolio-content {
            @include transform(translateY(0));
            opacity: 1;
            visibility: visible;
        }

        .portfolio-thumbnail {
            img {
                @include transform(translateY(-40px));
            }
        }
    }
}

// Portfolio text under image
.portfolio-text-under-image {
    .portfolio-content {
        padding: 15px 0;
    }
}

// Portfolio text under image with shadow
.portfolio-text-under-image-shadow {
    .portfolio-content {
        text-align: center;
        padding: 15px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    }
}

@media screen and (min-width: 1025px) {
    .portfolio-default {
        .portfolio-category {
            margin-top: 1px;
            p {
                margin-top: 4px;
                font-size: 16px;
                line-height: 25px;
                max-width: 260px;
                margin: 0 auto;
            }
        }
    }
}