
/** ------------------------------------------------------------------------------------------------
* PRICING TABLE
* ------------------------------------------------------------------------------------------------ */

.pricing-tables-wrapper {
	.pricing-tables {
	    display: flex;
	    flex-direction: row;
	    align-items:center;
	    flex-wrap: wrap;
	    margin-left: -15px;
   		margin-right: -15px;
	}
}

.koganic-price-table {
	position: relative;
    flex: 1 1 230px;
    margin-bottom: 35px;
    margin-left: 15px;
    margin-right: 15px;
	text-align: center;
	perspective: 800px;
    backface-visibility: hidden;
    -webkit-perspective: 800px;
    -webkit-backface-visibility: hidden;
    @extend .transition4;

	.koganic-plan-name {
	    padding: 40px 15px 100px;
		background: #222;
	}

	.koganic-plan-title {
		font-weight: 600;
		font-size: 24px;
		color: white;
	}

	.koganic-plan-inner {
		position: relative;
		background-color: white;
		border: 1px solid;
		border-color: rgba(129, 129, 129, 0.2);
		transition: box-shadow .3s ease;
		-webkit-transition: box-shadow .3s ease;
	}

	.price-label {
	    position: absolute;
	    top: -1px;
	    right: -1px;
	    overflow: hidden;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 12px;
	    line-height: 22px;
	    padding-left: 10px;
	    padding-right: 10px;
	    text-align: center;
	    color: white;
	    white-space: nowrap;
	    width: 80px;
	    height: 80px;

    	> span {
    		transform: rotate(45deg);
		    display: block;
		    background: red;
		    margin-top: 15px;
		    margin-left: -15px;
		    width: 115px;
    	}
	}

	.koganic-plan-price {
		line-height: 1;
	    position: absolute;
	    min-width: 140px;
	    min-height: 140px;
	    text-align: center;
        padding-top: 35px;
		border: 5px solid #393939;
	    border-radius: 100%;
	    @include transform(translate(-50%,-50%));
	    left: 50%;
	}

	.koganic-price-currency {
	    vertical-align: top;
	    font-size: 28px;
	}

	.koganic-price-value {
		font-size: 36px;
	    vertical-align: middle;
	    font-weight: 700;
	}

	.koganic-price-suffix {
		display: block;
		color:#bbb;
	    font-size: 12px;
	    margin-top: 5px;
	    font-weight: 500;
	}

	.koganic-plan-features {
		padding: 100px 25px 50px;
	}

	.koganic-plan-feature {
		padding-bottom: 15px;
	    margin-bottom: 15px;
	    line-height: 35px;
		&:last-child {
			padding-bottom: 0px;
		    margin-bottom: 0px;
		    border-bottom:none;
		}
	}

	.koganic-plan-footer {
	    padding: 20px 15px;

	    > a {
			@extend .background-color-primary;
            color: white;
	    }
	}

	&.label-color-red {

		.price-label {

			> span {
				background-color: #EF4836;
			}
		}
	}

	&.label-color-green {

		.price-label {

			> span {
				background-color: #0fa34c;
			}
		}
	}

	&.label-color-blue {

		.price-label {

			> span {
				background-color: #2a7ce4;
			}
		}
	}

	&.label-color-yellow {

		.price-label {

			> span {
				background-color: #F7CA18;
			}
		}
	}

	&.price-style-default {

		.koganic-plan-price {
			background: #f6f6f6 !important;
			margin-top: -1px;
			margin-left: -1px;
			margin-right: -1px;

			> span {
				color:black;
			}
		}
	}

	&.price-style-alt {

		.koganic-plan-price {
			border-bottom :1px solid;
			border-color: rgba(129, 129, 129, 0.2);
		}

		.koganic-price-currency {
			@extend .color-primary;
		}

		.koganic-price-value {
			@extend .color-primary;
		}
	}

	&.actived {
		.price-label {
		    top: -2px;
		    right: -2px;
		}
	}

	&:hover {
		@include box-shadow(0px 1px 51px 0px #d9d6d9);
		@extend .transition4;
	}
	&.price-style-no-background{
		.koganic-plan-price{
			background: white;
		}
	}
}
