.topbar {
    font-size: 14px;
    font-weight: 600;

    .wrap-topbar {
        padding-top: 15px;
        padding-bottom: 8px;
        border-bottom: 1px solid #D4D4D4;
    }

    .header-block {
        display: inline-block;

        &.text {
            p {
                margin-top: 0;
            }
        }
    }

    .dropdown-toggle {

        display: inline-block;
        i {
            margin-left: 5px;
            font-size: 11px;
        }
    }

    .dropdown-menu {
        min-width: 100px;
        top: 110%;
        left: 50%;
        display: block;
        opacity: 0;
        visibility: hidden;
        z-index: 90;
        margin: 0;
        @include transition(all 300ms);
        @include transform(translateX(-50%));

        ul {
            text-align: center;
            padding: 15px 10px;
            margin: 0;
            list-style: none;
            line-height: 1.2;

            li {
                a {
                    display: block;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .box-hover:hover {
        .dropdown-menu {
            top: calc(100% + 8px);
            opacity: 1;
            visibility: visible;
        }
    }
}

.language-dropdown,
.currency-dropdown {
    
    font-size: 14px;

    .pt-icon {
        position: relative;
        width: 9px;
        display: inline-flex;
        margin-left: 6px;   

        &:before {
            content: '\e604';
            position: absolute;
            font-family: 'simple-line-icons';
            top: calc(50% - 1px);
            left: 0;
            color: #555;
            font-size: 9px;
            font-weight: bold;
            transform: translate(0%, -50%);
        }             
    }
}

.topbar-right {
    .header-block {
        &:not(:last-of-type) {
            margin-right: 25px;
        }
    }
    .box-hover {
        &:hover {
            .language-dropdown,
            .currency-dropdown {
                @extend .color-primary;

                .pt-icon {
                    &:before {
                        content: '\e607';
                        @extend .color-primary;
                    }
                }                
            }
        }
    }
}

.topbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-bottom: 0;

        &:first-child {
            a {
                padding-left: 0;
                border-left: none;
            }
        }

        &:last-child {
            a {
                padding-right: 0;
            }
        }

        a {
            display: inline-block;
            line-height: 50px;
            padding-left: 15px;
            padding-right: 15px;

            i {
                margin-right: 6px;
            }
        }
    }
}

.wrap-topbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

// TOPBAR RIGHT
.topbar-right {
    justify-content: flex-end;
}

.pt-header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    min-height: 40px;

    .pt-col-left {
        display: flex;
        vertical-align: top;        
    }
    
    .topbar-left{
        .callphone {
            span {
                &:last-child {
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }

    .pt-col-center {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex: 2 1 auto;        
    }
    .pt-col-right {
        vertical-align: top;
        align-items: right;
        text-align: right;        
    }
}