@media screen and (max-width: 1199px) {
    /* ----------------------------------------------- */
    /* BOOTSTRAP -------------------------------- */
    /* ----------------------------------------------- */
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 15px;
        padding-right: 15px;
    }


    /* ----------------------------------------------- */
    /* END BOOTSTRAP -------------------------------- */
    /* ----------------------------------------------- */

    // Portfolio
    .portfolio-layout {
        &.columns-4,
        &.columns-5,
        &.columns-6 {
            .item {
                width: 33.33333333%;
            }
        }
    }


    .primary-menu > li {
        padding: 0 20px;
    }

    /* ----------------------------------------------- */
    /* PRODUCT LAYOUT -------------------------------- */
    /* ----------------------------------------------- */
    .product-layout {
        margin-left: -15px;
        margin-right: -15px;

        .product-item {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    /* ----------------------------------------------- */
    /* END PRODUCT LAYOUT -------------------------------- */
    /* ----------------------------------------------- */

    .product-box {
        .koganic-countdown {
            margin-bottom: 0;

            > span {
                margin-right: 5px;
        	  	min-width: 55px;
        	  	min-height: 55px;
                font-size: 16px;
        		line-height: 1;

        		span {
                    padding-top: 0;
        		}
        	}
        }
    }

    /* ----------------------------------------------- */
    /* SINGLE PRODUCT THUMBNAIL -------------------------------- */
    /* ----------------------------------------------- */
    .single-product-thumbnail {
        &.left,
        &.right {
            .p-nav {
                width: 80px;
            }
        }

        // Position == left
        &.left:not(.no-nav) .p-thumb {
            
        }

        // Position == right
        &.right {
            &:not(.no-nav) .p-thumb {
                
            }
        }
    }

    // Instagram
    .instagram-wrap {
        &.columns-6,
        &.columns-7,
        &.columns-8,
        &.columns-9,
        &.columns-10,
        &.columns-11,
        &.columns-12 {
            .item {
                width: 33%;
                flex-basis:33%;
                max-width:33%;
            }
        }
    }

    // ------------------------------------------
	// DOKAN
	// ------------------------------------------

	.dokan-single-store {

		.profile-info-box {

			&.profile-layout-layout1 {

				.profile-info-summery {
					margin-top: 0px;

					> div {
						margin-top: 20px;
					}
				}

				.profile-info-head {
					margin-left: 10px;
				}

				.store-name {
					margin-top: 0px !important;
				}
			}
		}
	}

}
