@media screen and (min-width: 1025px) {
	.modal {
		.modal-body:not(.noindent) {
			padding: 40px;
		}
	}

	header .woo-search {
		.woo-ajaxsearchform-container {
			.ui.search {
				margin-top: 0;
				> .results {
					padding-left: 20px;
    				padding-top: 20px;
    				padding-bottom: 9px;

    				>.action {
    					background: #ffffff;
    					padding-top: 0;
    					padding-bottom: 1em;
    				}

    				.result:hover {
					    background: #ffffff;
					}
				}

				.action:hover {
				    background: #ffffff;
				}
				.result {
					padding-left: 0;
					padding-top: 0;
					padding-bottom: 0;
					display: flex;
				    align-items: center;
				    justify-content: left;
					border-bottom: none;

					&:first-child {
						padding-bottom: 5px;
					}
					&:not(:first-child) {
						padding-bottom: 5px;
					}

					.image {
					    overflow: hidden;
					    width: 5em;

					    img {
					    	display: block;
						    width: auto;
						    max-width: 4em;
						    border: none;
					    }

					    &.img_top {
					    	float: left;
					    	flex: none;
					    }
					}
				}
			}
		}		
	}

	.search-box {
		.woo-ajaxsearchform-container {
			.ui.search {
				> .results {
					margin-left: -15px;
				    margin-right: -15px;
				    width: calc(100% + 30px);
				    
				    .result {
					    display: inline-block;
					    width: 16.666%;
					    float: left;
					    padding: 15px 15px;
					    border: none;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 911px) {

	.single-product-thumbnail {
		&.bottom {
			.p-thumb {
				.slick-arrow {
					bottom: -176px;
				}
			}
		}
	}

	.wc-single-product-sidebar {
		.single-product-thumbnail {
			&.bottom {
				.p-thumb {
					.slick-arrow {
						bottom: -144px;
					}
				}
			}
		}		
	}	

	
	.blog .koganic-loop-blog.blog-type-default .blog-post-loop {
		&.has-post-thumbnail {
			.post-img-wrap {
				img {
				    max-height: 530px;
				    min-height: 530px;
				    object-fit: cover;					
				}
			}
		}
	}

	
	.post-single-page {
	    &.has-post-thumbnail {
	        .entry-header {
	            .post-img-wrap {
	                img {
	                    max-height: 530px;
	                    min-height: 530px;
	                    object-fit: cover;                    
	                }
	            }
	        }
	    }
	}	
}

@media screen and (max-width: 1025px) {
	.search-box {
		.woo-ajaxsearchform-container {
			.ui.search {
				> .results { 
					margin-top: -1px;
					width: 100%;
					
					.result {
						padding: 0;
						display: flex;
					    align-items: center;
					    justify-content: left;
						border-bottom: none;

						&:first-child {
							padding-bottom: 10px;
						}
						&:not(:first-child) {
							padding-bottom: 10px;
						}

						.image {
						    overflow: hidden;
						    width: 5em;

						    img {
						    	display: block;
							    width: auto;
							    max-width: 4em;
						    }

						    &.img_top {
						    	float: left;
						    	flex: none;
						    }
						}
					}
				}
				&.focus {
					> .results {
						padding-bottom: 12px;
						
						> .action {
							padding-left: 0;
						}
						
						.result {
							.image.img_top {
							    margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 340px) {
	.search-box {
		.woo-ajaxsearchform-container {
			.ui.search {
				> .results {
					.result {
						.image {
							&.img_top {
								margin-right: 10px;
								width: 72px;
							}
							img {
								width: 72px;
								max-width: 72px;
							}
						}
					}
				}
			}
		}
	}
}