/* ==========================================================================
   1.1 LIST
   ========================================================================== */

ul, ol {
	padding-left: 15px;
	line-height: 1.45;

	li {
		margin-bottom: 12px;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-top: 12px;
	margin-bottom: 0;
}
