.redux-container-image_select ul.redux-image-select li {
    padding: 2px 10px;
}

.admin-color-fresh .redux-container-image_select .redux-image-select-selected img, .wp-customizer .redux-container-image_select .redux-image-select-selected img {
    border-color: #333;
}

.redux-container-image_select .redux-image-select img, .redux-container-image_select .redux-image-select-selected img {
    border-width: 2px;
}
.koganic-wrap {
    font-size: 15px;
    margin: 25px 40px 0 20px;
    max-width: 1050px;
    position: relative;
}
.koganic-wrap h1 {
    color: #32373c;
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0.2em 200px 0 0;
    padding: 0;
}
.koganic-wrap .about-description, .koganic-wrap .about-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 1.4em;
}
.koganic-wrap .about-text {
    color: #555d66;
    margin: 1em 200px 1em 0;
    min-height: 60px;
}
.koganic-wrap .nav-tab {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
/* Meta Box */

#jms_custom_metabox .inside {
    margin-top: 0;
    padding: 0;
}

#jms_custom_metabox .rwmb-field {
    position: relative;
    padding: 30px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}

#jms_custom_metabox .rwmb-field:hover {
    background: #f9f9f9;
}

#jms_custom_metabox .rwmb-image-select {
    width: 150px;
    height: 150px;
}
.koganic-wrap.about-wrap .koganic-thanks {
  margin-top: 30px;
}

.koganic-wrap.about-wrap .nav-tab-wrapper {
  margin-bottom: 30px;
}

.koganic-wrap.about-wrap table {
  margin-bottom: 15px;
}

.koganic-wrap.about-wrap mark {
  background: transparent;
}

.koganic-wrap.about-wrap .error {
  color: #ff0000;
}

.koganic-wrap.about-wrap img {
  opacity: 1 !important;
}

.koganic-install-plugins .plugin-info,
.koganic-install-demos .plugin-info {
  font-size: 13px;
  position: absolute;
  text-align: center;
  top: 85%;
  width: 100%;
}

.koganic-install-plugins .plugin-required,
.koganic-install-demos .plugin-required,
.koganic-install-plugins .theme-update {
  font-size: 11px;
  background: rgba(213, 78, 33, 0.95) none repeat scroll 0 0;
  color: #fff;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.koganic-install-plugins .plugin-status {
  font-size: 11px;
  background: rgba(213, 78, 33, 0.95) none repeat scroll 0 0;
  color: #fff;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0px;
  background: #E35950;
}

.koganic-install-plugins .plugin-status.active {
  background: #09AEEF;
}

.koganic-install-plugins .theme-update,
.koganic-install-demos .theme-update {
  z-index: 1;
}

.koganic-install-plugins .theme-browser,
.koganic-install-demos .theme-browser {
  margin: 0 -15px;
  display:inline-block;
}

.koganic-install-plugins .theme-browser .theme,
.koganic-install-demos .theme-browser .theme {
  padding: 0 15px;
  margin: 0 0 30px 0;
  width: 25%;
  cursor: default;
  border: none;
  box-shadow: none;
}
.full-data-import {
	display:block;
	clear:both;
}
@media (max-width: 991px) {
  .koganic-install-plugins .theme-browser .theme,
  .koganic-install-demos .theme-browser .theme {
    width: 33.333333%;
  }
}

@media (max-width: 768px) {
  .koganic-install-plugins .theme-browser .theme,
  .koganic-install-demos .theme-browser .theme {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .koganic-install-plugins .theme-browser .theme,
  .koganic-install-demos .theme-browser .theme {
    width: 100%;
  }
}

.koganic-install-plugins .theme-browser .theme .theme-wrapper,
.koganic-install-demos .theme-browser .theme .theme-wrapper {
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.koganic-install-plugins .theme-browser .theme .theme-actions,
.koganic-install-demos .theme-browser .theme .theme-actions {
  opacity: 1 !important;
  bottom: 1px;
  right: 16px;
  top: auto;
  height: 38px;
  -webkit-transform: none;
  transform: none;
  padding: 9px 10px 0;
}

.koganic-install-plugins .theme-browser .theme .theme-actions a {
  margin-right: 0;
}

.koganic-row {
  margin: 0 -15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.koganic-row .koganic-column {
  max-width: 600px;
}
.koganic-row.koganic-two-columns .koganic-column {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
}
.koganic-row.koganic-three-columns .koganic-column {
  -webkit-flex: 0 0 33%;
  flex: 0 0 33%;
  width: 33%;
}
.koganic-column .koganic-column-inner {
  display: -webkit-flex;
  display: flex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 15px;
}

.koganic-box {
  background: white;
  display: -webkit-flex;
  display: flex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.koganic-box.koganic-box-shadow {
  -moz-box-shadow: #dedede 0 0 10px;
  -webkit-box-shadow: #dedede 0 0 10px;
  box-shadow: #dedede 0 0 10px;
}

.koganic-box-header {
  padding: 15px 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.koganic-box-header h2 {
  margin: 0;
}

.koganic-box-label {
  color: white;
  padding: 5px 16px;
  font-size: 11px;
}
.koganic-box-label.koganic-label-error {
  background-color: #d02222;
}
.koganic-box-label.koganic-label-success {
  background-color: #388c0d;
}
.koganic-box-label.koganic-label-warning {
  background-color: #f9b826;
}
.koganic-box-label.koganic-label-recommended {
  background-color: #4CAF50;
}
.koganic-box-content {
  padding: 0px 20px 20px 20px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.koganic-import-form {
  display: -webkit-flex;
  display: flex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.koganic-import-form.form-in-action .button {
  color: transparent;
}

.koganic-box-info {
  padding: 20px 20px 0px 20px;
  border-top: 1px solid #f5f5f5;
}
.koganic-box-info p {
  margin: 0;
  font-size: 11px;
  opacity: 0.7;
}
.koganic-import-progress {
    position: relative;
    display: none;
    position: relative;
    height: 28px;
    background: #F5F5F5;
    margin: 10px 0px 10px 0px;
	width:100%;
}
.koganic-import-progress::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: attr(data-progress) "%";
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.koganic-import-progress div {
	height:28px;
	background:#4CAF50;
}
.koganic-import-form .page-preview {
	width:100%;
}
.koganic-import-form .page-preview img {
	width:100%;
	border:1px solid #dedede;
}
.import-form-fields {
	width:100%;
	margin:20px 0px;
}
.import-form-fields .submit {
	float:right;
	margin:0px;
	padding:0px;
}
.koganic-warning,
.koganic-success {
	font-size:11px;
}
.import-response {
	padding:0px 0px 10px 0px;
}
.highlight {
	background:#4CAF50;
	padding:2px 5px;
	color:#fff;
}
.base-imported-alert {
	display:none;
}
.base-imported .base-imported-alert {
	display:block;
}
.full-import-box {
	font-size:12px;
	float:left;
}
.full-imported .import-base .button, .import-pages .button {
    opacity: 0.3;
}
.full-imported .import-base input, .full-imported .import-base select, .import-pages input, .import-pages select, .import-pages input, .import-pages select {
    pointer-events: none;
    opacity: 0.3;
}
.base-imported .import-pages .button, .base-imported:not(.full-imported) .import-pages .button {
    opacity: 1;
}
.full-imported .import-base, .import-pages {
    cursor: no-drop;
}
.base-imported .import-pages, .base-imported:not(.full-imported) .import-pages {
    pointer-events: inherit;
    cursor: default;
}
.base-imported .import-pages input,
.base-imported .import-pages select,
.base-imported:not(.full-imported) .import-pages input,
.base-imported:not(.full-imported) .import-pages select {
    pointer-events: inherit;
    opacity: 1;
}
