.menu-popup-button{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    display: inline-block;
    z-index: 999;
    .icon-menu{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 2px;
        background: #6f6f6f;
        vertical-align: 5px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        font-size: 0;
        &:before,
        &:after{
            content: '';
            width: 20px;
            height: 2px;
            background-color: #6f6f6f;
            display: inline-block;
            position: absolute;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            left: 0;
            right: 0;
        }
        &:before {
            content: '';
            top: -7px;
        }
        &::after {
            bottom: -7px;
        }
    }
}
.menu-popup{
    position: fixed;
    top: 0;
    left: 0;
    background: #282828;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    width: 310px;
    height: 100%;
    padding-top: 100px;
    @extend .transition4;
    @include transform(translateX(-100%));
    .menu-popup-box{
        position: relative;
    }
    .close-menu-popup{
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 21px;
        color: #fff;
        padding: 5px;
        background: #353535;
        font-size: 13px;
        width: 40px;
        height: 40px;
        text-align: center;
        &:before{
            content: '+';
            color: #fff;
            font-size: 46px;
            font-weight: 100;
            display: inline-block;
            @include transform(rotate(45deg));
            @extend .transition4;
        }
        &:hover:before{
            @include transform(rotate(135deg));
            @extend .transition4;
            @extend .color-primary;
        }
    }
    .vertical-menu{
        padding: 0 30px;
        .dropdown-menu{
            padding: 0 0 0 90px;
        }
        > li{
           text-align: center;
           border-bottom: 1px solid #333;
        }
    }
    .menu-title{
        color: #fff;
        margin-bottom: 40px;
        padding: 20px 0;
        background: #353535;
        font-size: 13px;
        text-align: center;
    }
}
.show-menu-popup{
  .menu-popup{
    @extend .transition4;
    opacity: 1;
    @include transform(translateX(0));
    visibility:visible;
  }
}
.koganic-popup-menu {
    background: white;
    opacity: 0.98;
    position: fixed;
    z-index: 9999;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    @include transition(all 400ms);
    @include transform(translate3d(-100%, 0, 0));

    .menu-title {
        line-height: 50px;
        padding: 0 20px;
        @extend .background-color-primary;
        color: white;
        font-weight: 600;
    }

    .close-menu {
        line-height: 50px;
        font-size: 17px;
    }
}

.admin-bar .koganic-popup-menu {
    top: 32px;
}

.menu-popup-open-menu {
    .koganic-popup-menu {
        overflow-y: scroll;
        visibility: visible;
        @include transform(translate3d(0, 0, 0));
    }

    #sidebar-open-overlay {
        opacity: 1;
        visibility: visible;
    }
}

.popup-menu-wrapper {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.search-block-wrapper {
    .search-field {
        height: 50px;
        line-height: 50px;
        border: none;
    }

    .search-submit {
        i {
            line-height: 50px;
        }
    }
}

// Top popup
.bottom-popup-wrapper {
    .btn-group {
        display: block;
    }

    .dropdown-toggle {
        line-height: 50px;
        padding: 0 20px;
        display: block;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(129, 129, 129, 0.11);

        i {
            margin-right: 5px;
        }
    }

    .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        padding: 15px 20px;
        left: -20px;
        top: 120%;
        @include transition(all 300ms);

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .open .dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
}

// Mobile Menu
.popup-menu {
    li {
        position: relative;
        margin: 0;

        &.open > .holders {
            &:before {
                content: "-";
            }
        }
    }

    > li {
        > a {
            line-height: 50px;
            padding: 0 20px;
            display: block;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(129, 129, 129, 0.11);
        }
        &:hover > a{
            @extend .color-primary;
        }
    }

    ul {
        display: none;
        font-size: 14px;
        li {
            a {
                padding: 0 20px;
                line-height: 50px;
                display: block;
                color: #fff;
                border-bottom: 1px solid rgba(129, 129, 129, 0.11);
            }
            &:hover > a{
                @extend .color-primary;
            }
        }

        ul {
            li {
                a {
                    padding: 0 30px;
                }
            }
        }
    }

    .holders {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        cursor: pointer;
        @include transition(all 0.3s);
        color: #fff;
        border-left: 1px solid rgba(129, 129, 129, 0.11);

        &:before {
            content: "+";
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            font-weight: 100;
        }
    }
    .menu-item-has-children{
        .menu-item-has-children{
            .holders{
                right: 50px;
            }
        }
    }
}
