.koganic-menu {
    &.vertical-menu {
        .dropdown-menu {
            top: 20%;
            left: 100%;
            padding: 0 0 0 100px;
            margin-left: -65px;

            .simple-menu{
                margin: 0;
                padding: 0 0 0 30px;
            }
        }

        > li {
            display: block;

            &:last-child {
                border-bottom: none;
            }

            > a {
                text-transform: capitalize;
                font-weight: 400;
                letter-spacing: 0;
                font-size: 16px;
                color: rgba(63, 40, 3, 0.7);
                display: block;

                > span {
                    display: block;
                }
                
                &:hover {
                    padding-left: 0;
                }
            }

            > ul:not(.mega-nav) {
                top: 10px;
                left: 100%;
            }

            &.mega-full {

                .dropdown-menu {
                    width: 1170px !important;
                }
            }

        }

        li {
            &:hover {
                > ul:not(.mega-nav) {
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                }

                > .dropdown-menu {
                    pointer-events: inherit;
                    visibility: visible;
                    opacity: 1;
                    top: 0;
                }
            }
        }
    }
}