#page{
	overflow: hidden;
	position: relative;
}
.vc_row.container{
    padding:0;
    margin-right: auto !important;
    margin-left: auto  !important;
}

.home,
.page-template-page-demo{
	.header-wrapper.header-absolute{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	}
}

.border-inner {
	position: relative;

	&:after {
		content: '';
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		border: 2px solid #fff;
	}
}
.account-icon{
	.header-account a > span{
		display: none;
	}
	.header-account a > i{
		display: inline-block;
	}
}

.newsletter-form {
	position: relative;

	input[type="email"] {
		background-color: white;
		height: 55px;
		line-height: 55px;
		border: 1px solid #ebebeb;
		padding-left: 20px;
		padding-right: 20px;

		&:focus {
			@extend .border-color-primary;
		}
	}

	button {
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: transparent;
		background-image: url("assets/images/icons/icon-right.png");
		background-position: center center;
		background-repeat: no-repeat;
		font-size: 0;
		width: 55px;
		height: 55px;
		line-height: 55px;
		border: none;
		padding: 0;
	}
}

#newsletter-bottom {
	.newsletter-form {
		position: relative;

		input[type="email"] {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid;
			border-color: #c1c1c1;
			height: 40px;
			line-height: 40px;
			padding: 0;

			&:focus {
				@extend .border-color-primary;
			}
		}

		button {
			height: 40px;
			line-height: 40px;
		}
	}

}
.addon-title.subtitle{
	.title{
		
	}
}
.has-left-fixed-menu {
    .page-content,
    .page-heading,
    .footer {
        padding-left: 340px;
    }

    .container {
        width: 100%;
		padding-left: 40px;
		padding-right: 40px;
    }

    .vc_row-no-padding {
        max-width: 100%;
        left: auto !important;
        margin-left: 0;
        margin-right: 0;
    }

    #prev-product, #next-product {
        display: none;
    }

    .bg-container {
        background-color: #F0EEEE;
        margin-left: 0;
        margin-right: 0;
    }

}

.custom-banner {
	display: inline-block;
	background-color: #eadada;
	padding: 50px 30px;
	text-align: center;

	h3 {
		background: white;
		width: 143px;
		height: 143px;
		border-radius: 50%;
		font-size: 17px;
		font-weight: 700;
		padding: 33px 0;
		margin: 0 auto;

		span {
			font-size: 48px;
			font-weight: 700;
			@extend .color-primary;
			display: block;
		}
	}

	p {
		font-size: 17px;
		line-height: 30px;
		font-weight: 400;
		text-transform: capitalize;
		margin: 20px auto 30px;
	}

	.btn-transparent-color {
		border: 2px solid;
		@extend .border-color-primary;
		@extend .color-primary;
		background-color: transparent;
	}
}
@media screen and (max-width: 1480px) {
    .vc_row.none-padding{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media screen and (max-width: 1199px) {

	.has-left-fixed-menu .page-content,
	.has-left-fixed-menu .page-heading,
	.has-left-fixed-menu .footer {
		padding-left: 300px;
	}
	.box-icon{
		width: 50%;
	}
}


@media screen and (max-width: 991px) {

	.has-left-fixed-menu .page-content,
	.has-left-fixed-menu .page-heading,
	.has-left-fixed-menu .footer {
		padding-left: 0;
	}

}

@media screen and (max-width: 767px) {
	.box-icon{
		width: 100%;
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom:0;
		}
	}
	.none-title .content{
		display: none;
	}
	#woorebought-popup{
		display: none !important;
	}
}
