.alignleft {
	float: left;
	margin: 10px 25px 25px 0;
}
.alignright {
	float: right;
	margin: 10px 0 25px 25px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 15px auto 25px;
}
.wp-caption {
	margin-bottom: 5px;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0;
	}
}

.wp-caption-text {
	color: #7e7e7e;
	padding: 0.5em 0;
	font-size: 13px;
}

.gallery {
	margin: 0 -1.1666667% 0;
}
.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66666667%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #7e7e7e;
	padding: 0.5em 0;
	font-size: 13px;
	display: block;
	line-height: 1.6;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.header-search .search-form .search-field::placeholder {
	opacity: 1;
}